<%= form_with model: press_kit_entry, url: (press_kit_entry.persisted? ? [:account, press_kit_entry] : [:account, @setting_press_kit, :press_kit_entries]), local: true, class: 'form' do |form| %>
  <%= render 'account/shared/forms/errors', form: form %>

  <% with_field_settings form: form do %>
    <%= render 'shared/fields/text_field', method: :title, options: {autofocus: true} %>
    <%= render 'shared/fields/text_field', method: :article_link %>
    <%= render 'shared/fields/date_field', method: :publish_on %>
    <%= render 'shared/fields/date_and_time_field', method: :release_at %>
    <%= render 'shared/fields/file_field', method: :article_image %>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
  <% end %>

  <div class="buttons">
    <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
    <% if form.object.persisted? %>
    <%= link_to t('global.buttons.cancel'), [:account, press_kit_entry], class: "button-secondary" %>
    <% else %>
    <%= link_to t('global.buttons.cancel'), [:account, @setting_press_kit, :press_kit_entries], class: "button-secondary" %>
    <% end %>
  </div>

<% end %>
