<%= form_with model: legal_text, url: (legal_text.persisted? ? [:account, legal_text] : [:account, @site, :legal_texts]), local: true, class: 'form' do |form| %>
  <%= render 'account/shared/forms/errors', form: form %>

  <% with_field_settings form: form do %>
    <%= render 'shared/fields/text_field', method: :title, options: {autofocus: true} %>
    <%= render 'shared/fields/trix_editor', method: :body %>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
  <% end %>

  <div class="buttons">
    <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
    <% if form.object.persisted? %>
    <%= link_to t('global.buttons.cancel'), [:account, legal_text], class: "button-secondary" %>
    <% else %>
    <%= link_to t('global.buttons.cancel'), [:account, @site, :legal_texts], class: "button-secondary" %>
    <% end %>
  </div>

<% end %>
