<% site = @site || @site %>
<% context ||= site %>
<% collection ||= :publisher_accounts %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<%= render 'account/shared/box' do |p| %>
  <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
  <% p.content_for :description do %>
    <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless publisher_accounts.any?}") %>
  <% end %>

  <% p.content_for :table do %>
    <% if publisher_accounts.any? %>
      <table class="table">
        <thead>
          <tr>
            <%# 🚅 super scaffolding will insert new field headers above this line. %>
            <th class="text-left">name</th>
            <th><%= t('.fields.created_at.heading') %></th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <% publisher_accounts.each do |publisher_account| %>
            <% with_attribute_settings object: publisher_account do %>
              <tr data-id="<%= publisher_account.id %>">
                <%# 🚅 super scaffolding will insert new fields above this line. %>
                <td><%= publisher_account.name %> </td>                
                <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
                <td class="buttons">
                  <% unless hide_actions %>
                    <% if can? :edit, publisher_account %>
                      <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, publisher_account], class: 'button-secondary button-smaller' %>
                    <% end %>
                    <% if can? :destroy, publisher_account %>
                      <%= button_to t('.buttons.shorthand.destroy'), [:account, publisher_account], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(publisher_account)) }, class: 'button-secondary button-smaller' %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>

  <% p.content_for :actions do %>
    <% unless hide_actions %>
      <% if context == site %>
        <% if can? :create, PublisherAccount.new(site: site) %>
          <%= link_to t('.buttons.new'), [:new, :account, site, :publisher_account], class: "#{first_button_primary(:publisher_account)} new" %>
        <% end %>
      <% end %>

      <% unless hide_back %>
        <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:publisher_account)} back" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
