<%= form_with model: setting_general_info, url: (setting_general_info.persisted? ? [:account, setting_general_info] : [:account, @site, :setting_general_infos]), local: true, class: 'form' do |form| %>
  <%= render 'account/shared/forms/errors', form: form %>

  <% with_field_settings form: form do %>
    <%= render 'shared/fields/text_field', method: :site_name, options: {autofocus: true} %>
    <%= render 'shared/fields/text_field', method: :plain_text_name %>
    <%= render 'shared/fields/text_field', method: :text_number %>
    <%= render 'shared/fields/text_field', method: :newsletter_subscription_url %>
    <%= render 'shared/fields/text_field', method: :default_meta_blurb %>
    <%= render 'shared/fields/file_field', method: :default_meta_image %>
    <%= render 'shared/fields/buttons', method: :is_team_website %>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
  <% end %>

  <div class="buttons">
    <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
    <% if form.object.persisted? %>
    <%= link_to t('global.buttons.cancel'), [:account, setting_general_info], class: "button-secondary" %>
    <% else %>
    <%= link_to t('global.buttons.cancel'), [:account, @site, :setting_general_infos], class: "button-secondary" %>
    <% end %>
  </div>

<% end %>
