<% site = @site || @site %>
<% context ||= site %>
<% collection ||= :events %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<%= render 'account/shared/box' do |p| %>
  <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
  <% p.content_for :description do %>
    <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless events.any?}") %>
  <% end %>

  <% p.content_for :table do %>
    <% if events.any? %>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('.fields.title.heading') %></th>
            <th><%= t('.fields.start_date.heading') %></th>
            <th><%= t('.fields.finish_date.heading') %></th>
            <th><%= t('.fields.more_info_url.heading') %></th>
            <th><%= t('.fields.location.heading') %></th>
            <%# 🚅 super scaffolding will insert new field headers above this line. %>
            <th><%= t('.fields.created_at.heading') %></th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <% events.each do |event| %>
            <% with_attribute_settings object: event do %>
              <tr data-id="<%= event.id %>">
                <td><%= render 'shared/attributes/text', attribute: :title, url: [:account, event] %></td>
                <td><%= render 'shared/attributes/date', attribute: :start_date %></td>
                <td><%= render 'shared/attributes/date', attribute: :finish_date %></td>
                <td><%= render 'shared/attributes/text', attribute: :more_info_url %></td>
                <td><%= render 'shared/attributes/text', attribute: :location %></td>
                <%# 🚅 super scaffolding will insert new fields above this line. %>
                <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
                <td class="buttons">
                  <% unless hide_actions %>
                    <% if can? :edit, event %>
                      <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, event], class: 'button-secondary button-smaller' %>
                    <% end %>
                    <% if can? :destroy, event %>
                      <%= button_to t('.buttons.shorthand.destroy'), [:account, event], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(event)) }, class: 'button-secondary button-smaller' %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>

  <% p.content_for :actions do %>
    <% unless hide_actions %>
      <% if context == site %>
        <% if can? :create, Event.new(site: site) %>
          <%= link_to t('.buttons.new'), [:new, :account, site, :event], class: "#{first_button_primary(:event)} new" %>
        <% end %>
      <% end %>

      <% unless hide_back %>
        <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:event)} back" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
