<%= form_with model: media_appearance, url: (media_appearance.persisted? ? [:account, media_appearance] : [:account, @site, :media_appearances]), local: true, class: 'form' do |form| %>
  <%= render 'account/shared/forms/errors', form: form %>

  <% with_field_settings form: form do %>
    <%= render 'shared/fields/text_field', method: :title, options: {autofocus: true} %>
    <%= render 'shared/fields/date_field', method: :published_on %>
    <%= render 'shared/fields/text_field', method: :article_url %>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
  <% end %>

  <div class="buttons">
    <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
    <% if form.object.persisted? %>
    <%= link_to t('global.buttons.cancel'), [:account, media_appearance], class: "button-secondary" %>
    <% else %>
    <%= link_to t('global.buttons.cancel'), [:account, @site, :media_appearances], class: "button-secondary" %>
    <% end %>
  </div>

<% end %>
