<%= form_with model: blog_list, url: (blog_list.persisted? ? [:account, blog_list] : [:account, @site, :blog_lists]), local: true, class: 'form' do |form| %>
  <%= render 'account/shared/forms/errors', form: form %>

  <% with_field_settings form: form do %>
    <%= render 'shared/fields/text_area', method: :title, options: {autofocus: true} %>
    <%= render 'shared/fields/text_area', method: :description %>
    <%= render 'shared/fields/super_select', method: :blog_entry_ids, html_options: {multiple: true},
      choices: @blog_list.valid_blog_entries.map { |blog_entry| [blog_entry.label_string, blog_entry.id] } %>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
  <% end %>

  <div class="buttons">
    <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
    <% if form.object.persisted? %>
    <%= link_to t('global.buttons.cancel'), [:account, blog_list], class: "button-secondary" %>
    <% else %>
    <%= link_to t('global.buttons.cancel'), [:account, @site, :blog_lists], class: "button-secondary" %>
    <% end %>
  </div>

<% end %>
