<div id="ct-sect-blog" class="ct-section">
    <div class="container">
        <h4 class="h3 ct-h-welter50">Read This</h4>
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <div class="ct-post-img">
                    <%= link_to blog_entry_path(entry) do %>
                        <% if entry.hero_image.attached? %>
                            <%= image_tag entry.hero_image %>
                        <% else %>
                            <img src="https://via.placeholder.com/727x384.png?text=Blog+Image" width="280" />
                        <% end %>

                    
                    <% end %>

                </div>
            </div>
            
            <div class="col-sm-6 col-md-4">
                
                    <h1 class="ct-liner-simple">
                            <%= link_to entry.title, blog_entry_path(entry) %>                                                
                    </h1>
                    <h5 class="ct-h-slab ct-post-date">
                        11 months ago                    
                        <span class="middot">·</span>
                        <span>
                            <%= reading_minutes =  entry.essay.present? ? 
                                pluralize(entry.essay.reading_time, 'minute') 
                                : "unknown minutes" %>
                        </span>               
                    </h5>
                    <%= entry.summary %>
                    <div class="text-right">
                        <%= link_to  blog_entry_path(entry), class: "ct-post-permalink link-blue" do %>
                            Read More &gt;&gt;
                        <% end %>
                        
                    </div>
                    
                
            </div>
        </div>
    </div>
</div>