<% site = @site || @site %>
<% context ||= site %>
<% collection ||= :setting_home_infos %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<%= render 'account/shared/box' do |p| %>
  <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
  <% p.content_for :description do %>
    <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless setting_home_infos.any?}") %>
  <% end %>

  <% p.content_for :table do %>
    <% if setting_home_infos.any? %>
      <table class="table">
        <thead>
          <tr>
            <th><%= t('.fields.biography_blurb.heading') %></th>
            <th><%= t('.fields.video_billboard_url.heading') %></th>
            <th><%= t('.fields.watch_this_video_url.heading') %></th>
            <th><%= t('.fields.bio_link_label.heading') %></th>
            <th><%= t('.fields.watch_this_poster_url.heading') %></th>
            <%# 🚅 super scaffolding will insert new field headers above this line. %>
            <th><%= t('.fields.created_at.heading') %></th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody>
          <% setting_home_infos.each do |setting_home_info| %>
            <% with_attribute_settings object: setting_home_info do %>
              <tr data-id="<%= setting_home_info.id %>">
                <td><%= render 'shared/attributes/text', attribute: :biography_blurb, url: [:account, setting_home_info] %></td>
                <td><%= render 'shared/attributes/text', attribute: :video_billboard_url %></td>
                <td><%= render 'shared/attributes/text', attribute: :watch_this_video_url %></td>
                <td><%= render 'shared/attributes/text', attribute: :bio_link_label %></td>
                <td><%= render 'shared/attributes/text', attribute: :watch_this_poster_url %></td>
                <%# 🚅 super scaffolding will insert new fields above this line. %>
                <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
                <td class="buttons">
                  <% unless hide_actions %>
                    <% if can? :edit, setting_home_info %>
                      <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, setting_home_info], class: 'button-secondary button-smaller' %>
                    <% end %>
                    <% if can? :destroy, setting_home_info %>
                      <%= button_to t('.buttons.shorthand.destroy'), [:account, setting_home_info], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(setting_home_info)) }, class: 'button-secondary button-smaller' %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>

  <% p.content_for :actions do %>
    <% unless hide_actions %>
      <% if context == site %>
        <% if can? :create, SettingHomeInfo.new(site: site) %>
          <%= link_to t('.buttons.new'), [:new, :account, site, :setting_home_info], class: "#{first_button_primary(:setting_home_info)} new" %>
        <% end %>
      <% end %>

      <% unless hide_back %>
        <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:setting_home_info)} back" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
