<%= form_with model: blog_entry, url: (blog_entry.persisted? ? [:account, blog_entry] : [:account, @site, :blog_entries]), local: true, class: 'form' do |form| %>
  <%= render 'account/shared/forms/errors', form: form %>

  <% with_field_settings form: form do %>
    <%= render 'shared/fields/text_field', method: :title, options: {autofocus: true} %>
    <%= render 'shared/fields/text_field', method: :pinned_value %>
    <%= render 'shared/fields/date_and_time_field', method: :publish_at %>
    <%= render 'shared/fields/text_field', method: :seo_title %>
    <%= render 'shared/fields/text_area', method: :seo_description %>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
  <% end %>

  <div class="buttons">
    <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
    <% if form.object.persisted? %>
    <%= link_to t('global.buttons.cancel'), [:account, blog_entry], class: "button-secondary" %>
    <% else %>
    <%= link_to t('global.buttons.cancel'), [:account, @site, :blog_entries], class: "button-secondary" %>
    <% end %>
  </div>

<% end %>
